<!DOCTYPE html>
<html lang="en">
<head>
    
    <div class="section-section">
        <h1 class="contained-heading">
            <span class="contained-heading">Sweets And Treats Enjoy!</span>
        </h1>
        <div class="image-container">
            <img src="https://i.pinimg.com/736x/19/20/4a/19204ae8754e955958bfdee4ead7e8c9.jpg" alt="תמונה">
        </div>
    </div>
</head>
<body>
    <div class="category-container">
        <h2 class="category-title">Category</h2>
    </div>


    <div class="category-images">
        <div class="image-container">
            <h3>Raw materials for baking</h3>
            <a asp-controller="Products" asp-action="ViewProducts" asp-route-category="Raw materials for baking">
                <img src="https://i.pinimg.com/736x/57/84/8f/57848f416196b791094f86ba5c0bcab2.jpg" alt="Image 1" class="category-image">
            </a>
        </div>


        <div class="image-container">
            <h3>Baking Tools</h3>
            <a asp-controller="Products" asp-action="ViewProducts" asp-route-category="Baking Tools">
                <img src="https://i.pinimg.com/736x/b4/79/01/b4790196bceea835347e8eeedebfc08b.jpg" alt="Baking Tools" class="category-image">
            </a>
        </div>

        <div class="image-container">
            <h3>Icing and decorating cakes</h3>
            <a asp-controller="Products" asp-action="ViewProducts" asp-route-category="Icing and decorating cakes">
                <img src="https://i.pinimg.com/736x/6c/4e/90/6c4e90c9766b051a3786e3b2aafd23b4.jpg" alt="Icing and decorating cakes" class="category-image">
            </a>
        </div>

        <div class="image-container">
            <h3>Cake packaging</h3>
            <a asp-controller="Products" asp-action="ViewProducts" asp-route-category="Cake packaging">

                <img src="https://i.pinimg.com/736x/d3/69/cf/d369cfe16eaff8ce0eb0eea55cf079de.jpg" alt="Cake packaging" class="category-image">
            </a>
        </div>
    </div>

    <div class="category-container">
        <a class="category-title" asp-area="" asp-controller="Products" asp-action="viewproducts">All Products</a>
    </div>

</body>
    <style>
       
        .section-section {
            background-color: white; /* רקע לבן */
            width: 70%; /* רוחב האזור */
            margin: 0 auto; /* להתקין את המלבן באמצע העמוד */
            padding: 30px; /* מרווח בתוך האזור */
           display: flex;
        justify-content: center;
        align-items: center;
        }

        .contained-heading {
        color: #54352b;
        font-family: Fantasy, sans-serif; /* פונט משפט */
            font-size: 45px; /* גודל הפונט */
            margin-right: 0px; /* מרווח בין הטקסט לתמונה */
        }

        .image-container {
            flex:1; /* התמונה תמלא את השטח הפנוי שנותר */
            margin-left: 0px; /* מרווח בין התמונה לכותרת */

        }

        .image-container img {
            max-width: 80%; /* מקסימום רוחב לתמונה */
            height: auto; /* תמונה עם יחסי רוחב-גובה נכונים */
        }

        .image-container h3 {
            color: #54352b; /* צבע הכותרת */
            font-size: 15px; /* גודל הקו */
           /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* צל לכותרת */*/
            align-items: center;
            
            font-family: Fantasy, sans-serif;

        }
    .category-container {
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        margin: 20px 0;
    }

    .category-title {
        color: #54352b;
        font-family: Fantasy, sans-serif;
        font-size: 20px;
    }

    .category-images{
        display: flex;
        justify-content: center;
        align-items: center;

    }
     .category-image {
            max-width: 200px; /* רוחב מקסימלי של כל תמונה */
            height:  auto; /* תמונה עם יחסי רוחב-גובה נכונים */
            border-radius: 8px; /* סיבוב פינות */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* צל לתמונה */
            cursor: pointer; /* סמן עכבר כמו לחצן */
            transition: transform 0.3s ease; /* אנימציה על תנועה */
            margin-right: 20px;
      
       
       
        
        }

        .category-image:hover {
            transform: scale(1.05); /* הגדלת התמונה בעת העברת העכבר מעליה */
        }

    </style>


</html>
