
@*     anfalanfalanfalanfalanfalanfal *@
@model Sweet_Shop.Models.Product

@{
    ViewData["Title"] = "Add Product";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="AddProduct">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="price" class="control-label"></label>
                <input asp-for="price" class="form-control" />
                <span asp-validation-for="price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="stock" class="control-label"></label>
                <input asp-for="stock" class="form-control" />
                <span asp-validation-for="stock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="salePrice" class="control-label"></label>
                <input asp-for="salePrice" class="form-control" />
                <span asp-validation-for="salePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="imageUrl" class="control-label"></label>
                <input asp-for="imageUrl" class="form-control" />
                <span asp-validation-for="imageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="category" class="control-label"></label>
                <select asp-for="category" class="form-control" asp-items="@(new SelectList(ViewBag.Categories))">
                    <option value="">-- Select Category --</option>
                </select>
                <span asp-validation-for="category" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsOnSale" /> @Html.DisplayNameFor(model => model.IsOnSale)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="viewproducts">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}