@model List<int>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order History</title>
    <style>
        body {
            font-family: Fantasy, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        .shopping-cart-container {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h2 {
            text-align: center;
            color: #54352b;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            border-bottom: 1px solid #ddd;
            padding: 10px 0;
            display: flex;
            align-items: center;;
            justify-content: space-between;
        }

            li:last-child {
                border-bottom: none;
            }

        p {
            margin: 0;
            color: #54352b;
        }

        .btn {
            padding: 5px 10px;
            background-color: #54352b;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s;
            text-decoration: none;
        }

            .btn:hover {
                background-color: #321f18;
            }

        a {
            color: #007bff;
            text-decoration: none;
        }

            a:hover {
                text-decoration: underline;
            }
    </style>
</head>
<body>
    <div class="shopping-cart-container">

        <h2>Order History</h2>

        <ul>
            @if (Model.Any()){

            @foreach (var orderId in Model)
            {
                <li>
                    <p>Order Number: @orderId</p>
                    <a href="@Url.Action("OrderDetails", "Cart", new { id = orderId })" class="btn">CLICK HERE FOR DETAILS</a>
                </li>
                }
            }
            else
            {
                <p></p>
                <p>You haven't placed an order with us yet.</p>

            }
        </ul>
    </div>
</body>
</html>
