@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>Payment Processing</title>
</head>
<body>
    <h1>Payment Processing</h1>
    <p>Please wait while your payment is being processed...</p>
</body>
</html>
