html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.navbar-brand {
    color: #54352b; /* צבע טקסט */
    font-size: 24px; /* גודל גופן */

    text-decoration: none; /* ללא קו תחתון */
    font-family: Fantasy, sans-serif;
}

    .navbar-brand:hover {
        color: #54352b; /* צבע טקסט בעת העברת העכבר */
        font-family: Fantasy, sans-serif;
    }

.navbar-nav .nav-link {
    color: #54352b; /* צבע טקסט */
    font-size: 16px; /* גודל גופן */

    text-decoration: none; /* ללא קו תחתון */
    margin-right: 10px; /* מרווח מימין בין הקישורים */
    font-family: Fantasy, sans-serif;
}

    .navbar-nav .nav-link:hover {
        color: #54352b; /* צבע טקסט בעת העברת העכבר */
        text-decoration: underline; /* קו תחתון בעת העברת העכבר */
        font-family: Fantasy, sans-serif;
    }
.sign-in-up {
    text-align: right;
}
.gg-shopping-cart {
    display: block;
    box-sizing: border-box;
    position: relative;
    transform: scale(var(--ggs,1));
    width: 20px;
    height: 21px;
    background: linear-gradient( to left,currentColor 12px, transparent 0) no-repeat -1px 6px/18px 2px, linear-gradient( to left,currentColor 12px, transparent 0) no-repeat 6px 14px/11px 2px, linear-gradient( to left,currentColor 12px, transparent 0) no-repeat 0 2px/4px 2px, radial-gradient( circle,currentColor 60%, transparent 40%) no-repeat 12px 17px/4px 4px, radial-gradient( circle,currentColor 60%, transparent 40%) no-repeat 6px 17px/4px 4px
}

    .gg-shopping-cart::after,
    .gg-shopping-cart::before {
        content: "";
        display: block;
        position: absolute;
        box-sizing: border-box;
        width: 2px;
        height: 14px;
        background: currentColor;
        top: 2px;
        left: 4px;
        transform: skew(12deg)
    }

    .gg-shopping-cart::after {
        height: 10px;
        top: 6px;
        left: 16px;
        transform: skew(-12deg)
    } 